@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  
    --text: 5, 31, 28;
    --background: 242, 253, 252;
    --primary: 20, 123, 109;
    --secondary: 115, 154, 232;
    --accent: 32, 65, 197;
  }

  .dark {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --text: 224, 250, 247;
    --background: 2, 13, 12;
    --primary: 132, 235, 221;
    --secondary: 23, 62, 140;
    --accent: 58, 91, 223;
  }
}

html {
  scroll-behavior:smooth !important
}

body {
  color: rgb(var(--text));
  background: rgb(var(--background));
}

.debug {
  border: solid red 2px;
  border-radius: 15px;
}
.mask {
  mask-image: url('../public/circle.svg');
  mask-repeat: no-repeat;
  mask-size: 32px;
  background: rgb(var(--primary));
  color: rgb(var(--secondary));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
